.button {
    /* Jendose */
    /* margin-top: 250px; */

    /* Vova */
    margin-top: 0px;

    margin-bottom: 0;
    padding: 15px;
    border-radius: 0.2vw;
    text-decoration: none;
    color: white;
    background-color: rgb(56, 116, 224);
    text-align: center;
    font-size: 1vw;
    font-weight: normal;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(47, 102, 199);
}

.login-as-user {
    cursor: pointer;
    color: white;
    background-color: rgb(56, 116, 224);
}

.login-as-user:hover {
    cursor: pointer;
    background-color: rgb(47, 102, 199);
}

.login-as-admin {
    color: white;
    background-color: rgb(56, 116, 224);
}

.login-as-admin:hover {
    cursor: pointer;
    background-color: rgb(47, 102, 199);
}

.main_button {
    position: absolute;
    top: 19px;
    right: 96px;
    width: 154px;
}